@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://use.typekit.net/fie5ekz.css");
@import url("https://use.typekit.net/fie5ekz.css");

html {
  scroll-snap-type: x mandatory;
}

body {
  background: #0e0e0e;
  font-family: "new-spirit", serif;
  font-weight: 700;
  font-style: normal;
  scroll-snap-type: x mandatory;
}

h1 {
  font-family: "new-spirit", serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

h2 {
  font-family: "new-spirit", serif;
  font-weight: 200;
  font-style: normal;
}

@media screen and (max-width: 720px) {
  h2 {
    font-size: small;
  }
}

.snap-center {
  scroll-snap-align: center;
}

.menu-container {
  scroll-snap-type: x mandatory;
}

.menu-item {
  scroll-snap-align: center;
  overflow-x: mandatory;
  max-width: 45%;
}

.content-box {
  columns: 6 auto;
  margin: 50px;
  gap: 4;
}

@media screen and (max-width: 720px) {
  .content-box {
    columns: 3 auto;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
