@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://use.typekit.net/fie5ekz.css");

body {
  background-color: rgb(9, 9, 9);
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
}

h1 {
  font-family: "ivypresto-display", serif;
  font-weight: 600;
  font-style: normal;
}

h2 {
  font-family: "ivypresto-display", serif;
  font-weight: 200;
  font-style: normal;
}
