@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://use.typekit.net/fie5ekz.css");
@import url("https://use.typekit.net/fie5ekz.css");

html {
  scroll-snap-type: x mandatory;
}

body {
  background-color: #0e0e0e;
  font-family: "new-spirit", serif;
  font-weight: 700;
  font-style: normal;
  scroll-snap-type: x mandatory;
}

h1 {
  font-family: "new-spirit", serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

h2 {
  font-family: "new-spirit", serif;
  font-weight: 200;
  font-style: normal;
}

.snap-center {
  scroll-snap-align: center;
}

.menu-container {
  scroll-snap-type: x mandatory;
}

.menu-item {
  scroll-snap-align: center;
  overflow-x: mandatory;
  max-width: 45%;
}
